
<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to
    install it and the data used in the lesson in the
    <a href="https://librarycarpentry.org/lc-open-refine/">lesson</a>.
  </p>
</div>

<div id="sql-setup">
  <h3>SQL</h3>
  <p>SQL, Structured Query Language, is used in many different types of database applications to allow a user to interact with the database.
    Please find instructions to install the software <a href="https://librarycarpentry.org/lc-sql/index.html">DB Browser for SQLite</a>. Also you will need to 
    download the dataset from <a href="https://zenodo.org/records/8360812">Zenodo</a>. 
  </p>
</div>
